@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

.attribution {
  font-size: 19px;
  text-align: center;
  position: fixed;
  bottom: 10%;
  color: white;
}
.attribution a {
  color: hsl(228, 60%, 79%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
}
.main {
  /* height: 350px; */
  min-height: 350px;
  width: 600px;
  /* height: max-content; */
  border-radius: 10px;
  background-color: hsl(217, 19%, 24%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.advice_no {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  color: hsl(150, 100%, 66%);
}
.advice {
  font-size: 28px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
  position: relative;
  /* max-width: 600px; */
  overflow: hidden;
}
.main > img {
  margin-top: 40px;
  position: absolute;
  bottom: 20%;
}

.dice {

  position: absolute;
  bottom: -30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(150, 100%, 66%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.dice:hover {
  box-shadow: 0px 0px 50px hsl(150, 100%, 66%);
}


@media(max-width:700px){
    .main{
        min-height: 382px;
        width: 500px;
    }
}
@media(max-width:560px){
    .main{
        /* min-height: 250px; */
        width: 90vw;
    }
    .main > img{
        width: 80%;
    }
    .attribution{
        font-size: 16px;
    }
    .advice{font-size: 22px;}
}